
@font-face {
	font-family: IRANSans;
	font-style: normal;
    font-weight : bold;
    src: url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Black.eot');
    src: url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Black.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 700;
    src: url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Bold.eot');
    src: url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Bold.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Medium.eot');
    src: url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Medium.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Light.eot');
    src: url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Light.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_UltraLight.eot');
    src: url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb.eot');
    src: url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('https://hamtaloans.com/accounts/lib/fonts/IRANSansWeb.ttf') format('truetype');
}

*{font-family: 'IRANSans';}





header.leas_navbar {
    padding: 0;
}

.leas_manu {
    width: 80px;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leas_user_name {
    position: absolute;
    right: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dashed gainsboro;
    padding: 0 20px 0 0;
}

.leas_logo {
    position: absolute;
    left: 0px;
    width: 300px;
    height: 100%;
    align-items: center;
    padding: 0 0 0 30px;
}

header.leas_navbar {
    height: 80px;
}


/* create new branch */

.mbcu_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.mbcu_item>label {
    width: 100%;
    font-size: 12px;
}

.mbcu_item>input , .mbcu_item>select {
    width: 100%;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    padding: 10px;
}

.general_form_width{
	width: 600px;
	display: flex;
	flex-wrap: wrap;
}

.mbcu_header_title>h1 {
    font-size: 18px;
    margin: 0px;
}

.mbcu_header_title {
    margin: 20px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9C27B0;
    margin: 20px 0 20px 0;
}

.mega_branch_create_user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* menu */


ul.master_navs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.master_navs a {
    text-decoration: none !important;
    color: #000;
    font-size: 13px;
    font-weight: normal;
}

ul.master_navs li.nav-item {
    border-bottom: 1px solid #dcdcdc30;
    padding: 10px 0 10px 0;
    display: flex;
    width: 100%;
}

ul.master_navs > li.nav-item:hover {
    background: #f1f1f1;
}

.leasing_searched_results {
    width: 600px;
    margin: 30px auto 30px;
    display: flex;
    justify-content: flex-start;
    background: #fff;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid gainsboro;
}

.mop_title>h1 {
    margin: 0px auto;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
    background: linear-gradient(0deg, #46257f, #673AB7);
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

.mop_title {
    display: flex;
    width: 100%;
}

.mop_inner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px 20px 20px 20px;
}

.mopi_item {
    width: 100%;
    border-bottom: 1px dashed gainsboro;
    display: flex;
}

.mop_inner>div:last-child {
    border: none;
}

.mopi_item>span {
    width: 110px;
    display: flex;
}


.mopi_item {
    position: relative;
    transition: all 0.5s;
}

span.in_bound_badg {
    display: flex;
    position: absolute;
    left: 0;
    width: max-content;
    color: #8BC34A;
    font-size: 12px;
}

.mopi_item:hover {
    background: #80808021;
}

.leasing_search_for_order {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    margin: 30px auto 0px;
    padding: 10px;
}

.leasing_search_for_order .sb {
    width: 100px;
    /* background: red; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leasing_search_for_order .sc {
    width: calc(100% - 100px);
    height: 50px;
    display: flex;
    justify-content: center;
}

.leasing_search_for_order .sc>label {
    display: none;
}

.leasing_search_for_order .sc input {
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 10px 0px 0px 10px;
}

.leasing_search_for_order .sb > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #8BC34A;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
    border: none;
}


/* all branches */

.mega_list {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ml_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1024px;
}

.ml_inner_box>table {
    margin: 0px !important;
    width: 100%;
}

.ml_inner_box {
    padding: 10px;
    border: 1px solid gainsboro;
    font-size: 12px;
    max-width: 1024px;
    width: 100%;
}


table#all_branch_list {
    width: 100%;
}


div#all_branch_list_length {
    top: 10px;
}

div#all_branch_list_filter {
    top: 10px;
    height: 40px;
}

div#all_branch_list_filter input {
    height: 40px !important;
}


.nav_inner_div{
    display: flex;
    width: 100%;
    /* border-bottom: 1px solid gainsboro; */
    height: 100%;
    justify-content: center;
    align-items: center;
    border: unset !important;!i;!;
}



.cci_item>label {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 12px;
    margin: 0 0 10px 0;
}

.create_custome_invoice {
    border: 1px solid #dcdcdc63;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}


.p-canvas-webgl {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  opacity: 0.4;
}


.cci_item select {
    width: 100%;
}

.mbcu_item {
    width: 100%;
}

.general_form_width hr {
    width: 100%;
}

ul.dropdown-menu.show {
    text-align: right;
    width: 100%;
    background: rebeccapurple;
    padding: 20px;
    box-shadow: 0px 10px 30px -20px #000;
}

ul.dropdown-menu.show>li>a {
    color: #fff;
}

a.nav-link>img {
    filter: invert(1);
}

.dropdown-item:focus, .dropdown-item:hover {
    background: #fff;
    border-radius: 10px;
}

.dropdown-item:focus, .dropdown-item:hover a {
    color: rebeccapurple !important;
}

.dropdown-item:focus, .dropdown-item:hover a img {
    filter: invert(0);
}

li.dropdown-item>a {
    padding: 7px;
    font-size: 14px;
}

.dropdown-item {
    /* border-bottom: 1px solid #dcdcdc36; */
    margin: 6px 0 10px 0;
    position: relative;
    padding: 0px;
}

.dropdown-item:after {
    content: '';
    width: 100%;
    background: #ffffff1c;
    height: 1px;
    position: absolute;
    bottom: -6px;
}

ul.master_navs>li>a>img {
    filter: invert(0);
}

.create_custome_invoice .added_to_order {
    margin: 20px 0 20px 0;
}

.create_custome_invoice>div:nth-child(4)>div:nth-child(2) button {
    background: #2196F3;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    color: #fff;
}

.create_custome_invoice>div:nth-child(4)>div:last-child input {
    background: #009688;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 0px;
    color: #fff;
}

.nav_inner_div.navid_with_icon img {
    width: 20px !important;!i;!;
    height: 20px !important;!i;!;
    padding: 2px;
}

li.nav-item.dropdown img {
    width: 20px !important;!i;!;
    height: 20px !important;!i;!;
}

li.nav-item.dropdown a {
    text-decoration: none !important;
    color: #000;
    font-size: 13px;
    font-weight: normal;
    width: 100%;
    text-align: right;
    justify-content: flex-start;
    align-items: flex-start;
}

li.nav-item a {
    text-decoration: none !important;
    color: #000;
    font-size: 13px;
    font-weight: normal;
    text-align: right;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    border: none !important;
}



.modal-backdrop.fade.show{
	    z-index: 10;
}

.modal-backdrop {
	backdrop-filter: blur(18px) !important;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

/* یا روش دوم با افزایش specificity */
body > .modal-backdrop.show {
	backdrop-filter: blur(18px);
	background-color: rgba(0, 0, 0, 0.5);
}


.mega_modal_header h5 {
    flex-grow: 1;
}

.mega_modal_header button.btn-close {
    color: red !important;!i;!;
}

span.select2-container {
    z-index: 9009;
}